<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>User added</th>
    <th>Added at</th>
  </tr>
  </thead>
  <tbody>
  <% books.each do |book|%>
      <tr>
        <td><%= link_to book.title, action_name == 'index' ? book_path(id: book.id) : edit_book_path(id: book.id) %></td>
        <td><%= book.author %></td>
        <td><%= book.user.email %></td>
        <td><%= book.created_at.strftime('%d/%m/%Y') %></td>
      </tr>
  <% end %>
  </tbody>
</table>